*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #F2F2F2; ;
}

header{
    background-color: white;
    padding: 10px 10px;
}

img{
    display: inline-block;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    
}

.container{
    margin: 30px 150px;
    padding: 60px; 
    background-color: white;
    text-align: left;
}

hr{
    color: lightgrey;
}

.blocco{
    margin: 10px 18px;

}

.blocco1{
    margin: 10px 18px;

}

.blocco2{
    margin: 10px 18px;

}

.icon{

    font-size: 20px;
}

ul{
    list-style-type: none;
}



.button1{
    background-color: #63B8FF;
}

.button2{
    border-radius: 8px;
    padding: 5px;
}

.cross::before{
    content:"\0078";
    color: red;
}

.check::before{
    content: "\2713";
    border: 5px;
    color: green;

}


