*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #F2F2F2; ;
}

header{
    background-color: white;
    padding: 10px 10px;
}

img{
    display: inline-block;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    
}

.container{
    margin: 30px 150px;
    padding: 60px; 
    background-color: white;
    text-align: left;
}

/*pulsanti e linea*/
.button1{
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: #63B8FF;
}

.button2{
    border: none;
    color: grey;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: white;
}

hr{
    color: lightgrey;
}

/*divisione degli elenchi*/
ul{
    list-style-type: none;
}

.blocco{
    margin: 10px 18px;
    line-height: 2;

}

.blocco1{
    margin: 15px 20px;
    line-height: 2;
}

.blocco2{
    margin: 22px 25px;
    line-height: 2;
}

.icon{
 font-size: 20px;
}

/*check e cross*/
.cross::before{
    content:"\0078";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.check::before{
    content: "\2713";
    border: 5px;
    color: solid green;
    border: 1px solid green;
    border-radius: 50%
    
}

/*backgound colorato parole fine elenco*/
.ed{
    color: white;
    border-radius: 12px;
    padding: 8px;
    background-color: #63B8FF;
    font-size: 10px;
}

.web{
    color: white;
    border-radius: 12px;
    padding: 8px;
    background-color: #CD3278;
    font-size: 10px;
}

.goals{
    color: white;
    border-radius: 12px;
    padding: 8px;
    background-color: #9F79EE;
    font-size: 10px;
}

.mo{
    color: white;
    border-radius: 12px;
    padding: 8px;
    background-color: #FFA500;
    font-size: 10px;
    
}


.re{
    color: white;
    border-radius: 12px;
    padding: 8px;
    background-color: #66CDAA	;
    font-size: 10px;
}

.sale{
    color: white;
    border-radius: 12px;
    padding: 8px;
    background-color: #A2CD5A	;
    font-size: 10px;
}